{"kind":"APIService","apiVersion":"apiregistration.k8s.io/v1beta1","metadata":{"name":"v1beta1.policy","uid":"18239439-b776-4f66-8680-93ce2f83990e","creationTimestamp":"2020-06-29T04:53:11Z","labels":{"kube-aggregator.kubernetes.io/automanaged":"onstart"}},"spec":{"group":"policy","version":"v1beta1","groupPriorityMinimum":17100,"versionPriority":9},"status":{"conditions":[{"type":"Available","status":"True","lastTransitionTime":"2020-06-29T04:53:11Z","reason":"Local","message":"Local APIServices are always available"}]}}
